/* ===================================================================== 
Custom properties 
===================================================================== */

/* color schemes for themes */
:root[data-theme="light"] {
  --primary: #dfe7f7;
  --secondary: rgb(86, 179, 102);
  --ternary: lightgray;

  --text: black;
  --shadow: grey;
  --inverse: #313131;
}

:root[data-theme="dark"] {
  --primary: #313131;
  --secondary: rgb(59, 107, 67);
  --ternary: rgb(105, 105, 105);

  --text: white;
  --shadow: black;
  --inverse: #dfe7f7;
}

:root {
  --theme-icons: rgb(252, 224, 70);
  --current-page: rgba(240, 128, 128, 0.863);
  --hover-link: lightcoral;
  --hover-link-shadow: coral;

  --header-height: 130px;
  --footer-height: 60px;
}

/* ===================================================================== 
Global 
===================================================================== */

* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: var(--text);
}

body {
  background-color: var(--primary);
  color: var(--text);
}

:where(h2, h3, h4) {
  margin-bottom: 10px;
}

.ext-link {
  font-weight: bold;
  text-decoration: underline;
}

.clickable:hover {
  background-color: var(--hover-link);
  box-shadow: 0 0 10px var(--hover-link-shadow);
  cursor: pointer;
}

.clickable {
  transition: background-color 0.2s, box-shadow 0.2s;
}

.clickable.active {
  background-color: var(--current-page);
}

hr {
  margin: 40px 0;
}

figcaption {
  font-style: italic;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:where(main, .container) {
  width: 90%;
  min-width: 750px;
  max-width: 1300px;
  margin: auto;
}

main {
  box-sizing: border-box;
  padding: 40px 0;
  min-height: 650px;
  max-height: calc(100vh - var(--header-height) - var(--footer-height));
  flex: 1;
  overflow-y: scroll;
}

:where(.origami, .arrow) {
  filter: drop-shadow(5px 2px 3px var(--shadow));
}

/* ===================================================================== 
Header
===================================================================== */

#logo {
  height: 40px;
}

h1 {
  padding: 20px 0 0 0;
  text-align: center;
  filter: drop-shadow(0px 0px 4px var(--shadow));
}

header {
  min-height: var(--header-height);
  background-color: var(--secondary);
  box-shadow: 0 0 3px var(--shadow);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.link {
  padding: 5px 25px;
  border-radius: 5px;
}

/* ---------------------------------------------------------------------
Theme toggle switch
--------------------------------------------------------------------- */
#theme-toggle {
  --width: 50px;
  --height: 22px;
  --border-rad: 50px;
  margin-right: 5px;
  float: right;
}

#theme-toggle .slider {
  position: relative;
  cursor: pointer;
  height: var(--height);
  width: var(--width);
  border: 2px solid var(--secondary);
  border-radius: var(--border-rad);
  outline: 1px solid var(--inverse);
  transition: box-shadow 0.2s;
}

#theme-toggle .slider:hover {
  box-shadow: 0 0 10px var(--hover-link-shadow);
}

.slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: var(--height);
  width: var(--height);
  border-radius: var(--border-rad);
  background-color: var(--inverse);
  transition: all 0.2s;
}

#theme-selector:checked ~ .slider::after {
  transform: translateX(calc(var(--height) - var(--width)));
}

:where(.sun, .moon) {
  position: absolute;
  margin: 2px;
  height: calc(var(--height) - 4px);
  fill: var(--theme-icons);
}

.slider .sun {
  left: 1px;
}

.slider .moon {
  right: 3px;
}

/* =====================================================================
Footer
===================================================================== */

footer {
  background-color: var(--secondary);
  box-shadow: 0 0 3px var(--shadow);
  font-size: 0.8rem;
}

#credits {
  min-height: var(--footer-height);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* =====================================================================
Home
===================================================================== */

.welcome-msg {
  float: left;
  width: 60%;
}

.welcome-img {
  float: right;
  min-width: 300px;
  max-width: 30%;
}

.choice {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
}

.unclickable {
  position: absolute;
  scale: 1;
  translate: 0;
  transition: scale 0.3s ease, translate 0.2s;
  z-index: 2;
  padding: 30px 40px;
  margin: -10px -10px;
}

/* =====================================================================
Video page
===================================================================== */

.video-container {
  margin: auto;
  width: 60%;
  filter: drop-shadow(0 0 5px var(--shadow));
}

.video-container video {
  width: 100%;
  margin-bottom: 15px;
}

/* =====================================================================
Clock page
===================================================================== */

#clock {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
  border-radius: 30px;
  background-color: var(--ternary);
  box-shadow: 0 0 5px var(--shadow);
}

:where(#sec, #min, #hour) {
  position: absolute;
  width: 30px;
  height: 600px;
  top: 0px;
  left: 285px;
}

#sec {
  z-index: 3;
}

#min {
  z-index: 2;
  transition: transform 3s;
}

#hour {
  z-index: 1;
}

#mute-btn {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 40px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #006564;
  border: 3px outset #006564;
}

#mute-btn svg {
  fill: white;
}

#mute-btn.clicked {
  box-shadow: 0 0 2px var(--shadow);
  border: 3px inset #006564;
}

/* =====================================================================
Coursework page
===================================================================== */

#coursework-container {
  --min-height: 400px;
  --box-padding: 10px;
  --box-radius: 10px;
  display: flex;
  justify-content: space-between;
}

#coursework-container aside {
  min-width: 230px;
  width: 25%;
  border-radius: var(--box-radius);
  padding: var(--box-padding);
  background-color: var(--ternary);
  min-height: var(--min-height);
  box-shadow: 0 0 3px var(--shadow);
}

.coursework-links {
  padding: 5px 0;
  list-style: none;
  border-top: 1px solid var(--text);
}

.coursework-link {
  display: block;
  padding: 5px 20px;
  margin: 5px 0;
  transition: padding 0.2s;
  border-radius: 5px;
}

.coursework-link::before {
  content: "> ";
}

.coursework-link:hover {
  padding-left: 30px;
}

.coursework-link.active {
  padding-left: 30px;
}

.report {
  padding: var(--box-padding) 20px;
  width: 65%;
  overflow-y: scroll;
}

.report-figure {
  max-width: 500px;
  margin: auto;
}

.report-figure img {
  width: 100%;
  box-shadow: 0 0 5px var(--shadow);
}

#placeholder {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.arrow {
  fill: var(--secondary);
  stroke: var(--secondary);
  height: 50px;
  margin: 0 30px;
}

/* =====================================================================
Hobbies page
===================================================================== */

.hobbies {
  margin: 0 30px;
}

.hobbies-section {
  display: flex;
  justify-content: space-between;
}

.image-1 {
  min-width: 200px;
  margin: 0 50px;
  align-self: center;
}

.image-2 {
  min-width: 150px;
  margin: 0 70px;
  align-self: center;
}

.image-3 {
  min-width: 200px;
  width: 30%;
  margin: 20px auto 0;
  display: block;
}
